header{
  background-color: #F9DDE5;
}

body{
  font: #1C1610;
  margin: 25px;
  padding: 0px;
  background-color: #FCEEF2;
  font-family: 'Lato', sans-serif;
}

  #check{
    display: none;
  }

  #icone{
    cursor: pointer;
    padding: 13px;
    position: absolute;
    z-index: 2;
  }

  .barra{
    background-color: #F9DDE5;
    width: 284px;
    height: 705px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    z-index: 1;
  }

  nav{
   width: 100%;
   position: absolute;
   top: 60px;
  }

  nav a{
    text-decoration: none;
  }

  .link{
    background-color: #2A7F62;
    padding: 20px;
    font-family: 'Dongle', sans-serif;
    font-size: 12pt;
    transition: all .2s linear;
    color: #1C1610;
    border-bottom: 2px solid #E3A1C3 ;
    margin-top: 200px;
  }

  .link:hover{
    background-color: #426752;
  }

  #check:checked ~.barra{
    transform: translateX(300px);
  }

  #check:checked ~.barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
  }

  img{   
    border-radius: 30px;
  }

  .coluna{
    float: center;
    width: 33.33%;
  }

 .row::after{
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 500px) {

    .column{

      width: 100%;

    }

  }

  .parallax{
    background-image: url("http://leituraverso.com.br/wp-content/uploads/2019/05/mob-psycho-100-ii-kageyama.jpg");    
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  article{
    display: inline-block;
    padding: 100px;
  }

  .comment-box{
    left: 33%;
    position: absolute;
    transform: translate( -50% -50%);
    width: 500px;
  }

  .comment-box input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #2A7F62;
  }

  .comment-box input:focus{
    border: 1px solid #1C1610;
    outline: 0;
  }

  .comment-box textarea{
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #E3A1C3;
  }

  .comment-box textarea:focus{
    border: 1px solid #1C1610;
    outline: 0;
  }

  .comment-box button{
    border: 0;
    padding: 10px 30px;
    background-color: #F9DDE5;
    border-radius: 5px;
    font-size: 18px;
    color: #1C1610;
  }

  #texto {
    background-color: #F9DDE5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
  
  