@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #FCEFF2;
    font: bold;
}

form {
    border: 3px solid #E3A1C3;
}

input[type=text], 
input[type=password] {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  

h1 {
    text-align: center;
}

.imgcontainer {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;  
    border-radius: 50%; 
}

button {
    background-color: #D87CAC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;  
    font-family: "Poppins", sans-serif;
}
  
button:hover{
    opacity: 0.8;
}

.container {
    background-color: #f1f1f1;
    padding: 70px;
}