body{

  font: #1C1610;

  margin: 0px;

  padding: 0px;

  background-color: #FCEEF2;

  font-family: 'Lato', sans-serif;

}

  #check{

    display: none;

  }

  #icone{

    cursor: pointer;

    padding: 13px;

    position: absolute;

    z-index: 2;

  }

  .barra{

    background-color: #F9DDE5;

    width: 256px;

    height: 706px;

    position: absolute;

    transition: all .2s linear;

    left: -300px;

    z-index: 1;
  
  }

  nav{

   width: 100%;

   position: absolute;

   top: 60px;

  }

  nav a{

    text-decoration: none;

  }

  .link{

    background-color: #2A7F62;

    padding: 20px;

    font-family: 'Dongle', sans-serif;

    font-size: 12pt;

    transition: all .2s linear;

    color: #1C1610;

    border-bottom: 2px solid #E3A1C3 ;

    margin-top: 200px;

  }

  .link:hover{

    background-color: #426752;

  }

  #check:checked ~.barra{

    transform: translateX(300px);

  }

  #check:checked ~.barra nav a .link{

    opacity: 1;

    margin-top: 0;

    transition-delay: .2s;

  }

  img{
      
    border-radius: 30px;

  }

  .coluna{

    float: center;

    width: 33.33%;

  }

 .row::after{

    content: "";

    clear: both;

    display: table;

  }

  @media screen and (max-width: 500px) {

    .column{

      width: 100%;

    }

  }

  .parallax{

    background-image: url("media/doragon,logo3.png");
     
    min-height: 500px;

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

  }

  article{

    display: inline-block;

    padding: 100px;
 
  }

