body,html{

  height: 100%; 

  overflow: hidden;

  background-image: url(https://ancdn.fancaps.net/5888739.jpg);

  background-size: cover;

  font-family: 'Lato', sans-serif;

  font: #1C1610;

}

.l-form{

  background-color:rgba(39, 41, 45, 0.5);

  border-radius:12px;

  padding: 12px;

}

.i-form{

  border-radius:12px;

  padding: 12px;

}


